<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>english</key>
		<string>butterfly</string>
		<key>ojibwe</key>
		<string>memengwaa</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>spider</string>
		<key>ojibwe</key>
		<string>asabikeshii</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>robin</string>
		<key>ojibwe</key>
		<string>opichi</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>sturgeon</string>
		<key>ojibwe</key>
		<string>name</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>walleye</string>
		<key>ojibwe</key>
		<string>ogaa</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>painted turtle</string>
		<key>ojibwe</key>
		<string>miskwaadesi</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>rabbit</string>
		<key>ojibwe</key>
		<string>waabooz</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>porcupine</string>
		<key>ojibwe</key>
		<string>gaag</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>otter</string>
		<key>ojibwe</key>
		<string>nigig</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>hawk</string>
		<key>ojibwe</key>
		<string>gekek</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>fox</string>
		<key>ojibwe</key>
		<string>waagosh</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>bee</string>
		<key>ojibwe</key>
		<string>amoo</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>cat</string>
		<key>ojibwe</key>
		<string>gaazhagens</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>dog</string>
		<key>ojibwe</key>
		<string>animosh</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>fish</string>
		<key>ojibwe</key>
		<string>giigoonh</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>marten</string>
		<key>ojibwe</key>
		<string>waabizheshi</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>crane</string>
		<key>ojibwe</key>
		<string>ajijaak</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>loon</string>
		<key>ojibwe</key>
		<string>maang</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>lynx</string>
		<key>ojibwe</key>
		<string>bizhiw</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>crow</string>
		<key>ojibwe</key>
		<string>aandag</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>eagle</string>
		<key>ojibwe</key>
		<string>migizi</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>bird</string>
		<key>ojibwe</key>
		<string>bineshii</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>duck</string>
		<key>ojibwe</key>
		<string>zhiishiib</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>frog</string>
		<key>ojibwe</key>
		<string>omakakii</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>skunk</string>
		<key>ojibwe</key>
		<string>zhigaag</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>deer</string>
		<key>ojibwe</key>
		<string>waawaashkeshi</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>racoon</string>
		<key>ojibwe</key>
		<string>esiban</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>beaver</string>
		<key>ojibwe</key>
		<string>amik</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>squirrel</string>
		<key>ojibwe</key>
		<string>ajidamoo</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>wolf</string>
		<key>ojibwe</key>
		<string>ma&apos;iingan</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>fire</string>
		<key>ojibwe</key>
		<string>ishkode</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>tree</string>
		<key>ojibwe</key>
		<string>mitig</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>feather</string>
		<key>ojibwe</key>
		<string>miigwan</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>sage</string>
		<key>ojibwe</key>
		<string>mashkodewaskhk</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>cedar</string>
		<key>ojibwe</key>
		<string>giizhik</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>d</string>
		<key>ojibwe</key>
		<string>asemaa</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>sweet grass</string>
		<key>ojibwe</key>
		<string>wiingashk</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>west</string>
		<key>ojibwe</key>
		<string>ningaabii&apos;anong</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>south</string>
		<key>ojibwe</key>
		<string>zhaawanong</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>east</string>
		<key>ojibwe</key>
		<string>waabaanong</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>north</string>
		<key>ojibwe</key>
		<string>giiwedinong</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>life a good life </string>
		<key>ojibwe</key>
		<string>mino bimaadiziwin</string>
		<key>type</key>
		<string>phrase</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>black</string>
		<key>ojibwe</key>
		<string>makadewaa</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>yellow</string>
		<key>ojibwe</key>
		<string>ozaawaa</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>red</string>
		<key>ojibwe</key>
		<string>miskwaa</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>white</string>
		<key>ojibwe</key>
		<string>waabishkaa</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>love</string>
		<key>ojibwe</key>
		<string>zaagi&apos;idiwin</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>truth</string>
		<key>ojibwe</key>
		<string>debwewin</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>humility</string>
		<key>ojibwe</key>
		<string>dabasenimowin</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>wisdom</string>
		<key>ojibwe</key>
		<string>nibwaakaawin</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>respect</string>
		<key>ojibwe</key>
		<string>manaaji&apos;idiwin</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>bravery</string>
		<key>ojibwe</key>
		<string>zoongide&apos;ewin</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>honesty</string>
		<key>ojibwe</key>
		<string>gwayakwaadiziwin</string>
		<key>type</key>
		<string>adj</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>autumn</string>
		<key>ojibwe</key>
		<string>dagwaagin</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>winter</string>
		<key>ojibwe</key>
		<string>bidoon</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>spring</string>
		<key>ojibwe</key>
		<string>ziigwan</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>summer</string>
		<key>ojibwe</key>
		<string>niibin</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>my grandmother</string>
		<key>ojibwe</key>
		<string>nokomis</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>my grandfather</string>
		<key>ojibwe</key>
		<string>nimishomis</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>my father </string>
		<key>ojibwe</key>
		<string>nindede</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>my mother</string>
		<key>ojibwe</key>
		<string>nimaamaa</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>wait</string>
		<key>ojibwe</key>
		<string>bekaa</string>
		<key>type</key>
		<string>phrase</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>see you later</string>
		<key>ojibwe</key>
		<string>gigawaabimin</string>
		<key>type</key>
		<string>verb</string>
		<key>subtype</key>
		<string>ai</string>
	</dict>
	<dict>
		<key>english</key>
		<string>i am sad</string>
		<key>ojibwe</key>
		<string>nigashkendam</string>
		<key>type</key>
		<string>verb</string>
		<key>subtype</key>
		<string>ai</string>
	</dict>
	<dict>
		<key>english</key>
		<string>I am happy</string>
		<key>ojibwe</key>
		<string>niminwendam</string>
		<key>type</key>
		<string>verb</string>
		<key>subtype</key>
		<string>ai</string>
	</dict>
	<dict>
		<key>english</key>
		<string>it is a good day</string>
		<key>ojibwe</key>
		<string>mino giishigad</string>
		<key>type</key>
		<string>verb</string>
		<key>subtype</key>
		<string>ii</string>
	</dict>
	<dict>
		<key>english</key>
		<string>minikwaajigan</string>
		<key>ojibwe</key>
		<string>cup || water bottle</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>chair</string>
		<key>ojibwe</key>
		<string>apabiwin</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>table</string>
		<key>ojibwe</key>
		<string>adoopowin</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>door</string>
		<key>ojibwe</key>
		<string>ishkwaandem</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>ceiling</string>
		<key>ojibwe</key>
		<string>ishpimisag</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>floor</string>
		<key>ojibwe</key>
		<string>michisag</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>window</string>
		<key>ojibwe</key>
		<string>waasechigan</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>wall</string>
		<key>ojibwe</key>
		<string>aasamisag</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>mazina&apos;igan</string>
		<key>ojibwe</key>
		<string>paper || book</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>scissors</string>
		<key>ojibwe</key>
		<string>moozhwaagan</string>
		<key>type</key>
		<string>noun </string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>pencil</string>
		<key>ojibwe</key>
		<string>ozhibii&apos;iganaatig</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>10 || ten</string>
		<key>ojibwe</key>
		<string>midaaswi</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>9 || nine</string>
		<key>ojibwe</key>
		<string>zhaangaswi</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>8 || eight</string>
		<key>ojibwe</key>
		<string>ishwaaswi</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>7 || seven</string>
		<key>ojibwe</key>
		<string>niizhwaaswi</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>6 || six</string>
		<key>ojibwe</key>
		<string>ningodwaaswi</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>5 || five</string>
		<key>ojibwe</key>
		<string>naanan</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>4 || four</string>
		<key>ojibwe</key>
		<string>niiwin</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>3 || three</string>
		<key>ojibwe</key>
		<string>niswi</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>2 || two</string>
		<key>ojibwe</key>
		<string>niizh</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>1 || one</string>
		<key>ojibwe</key>
		<string>bezhig</string>
		<key>type</key>
		<string>number</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>*blank* is my clan</string>
		<key>ojibwe</key>
		<string>Nindodem</string>
		<key>type</key>
		<string>verb</string>
		<key>subtype</key>
		<string>ai</string>
	</dict>
	<dict>
		<key>english</key>
		<string>I am from</string>
		<key>ojibwe</key>
		<string>nindoonjibaa</string>
		<key>type</key>
		<string>verb</string>
		<key>subtype</key>
		<string>ai</string>
	</dict>
	<dict>
		<key>english</key>
		<string>my name is</string>
		<key>ojibwe</key>
		<string>nindizhinikaz</string>
		<key>type</key>
		<string>verb</string>
		<key>subtype</key>
		<string>ai</string>
	</dict>
	<dict>
		<key>english</key>
		<string>now</string>
		<key>ojibwe</key>
		<string>noongom</string>
		<key>type</key>
		<string>time</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>close by</string>
		<key>ojibwe</key>
		<string>besho</string>
		<key>type</key>
		<string>other</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>far away</string>
		<key>ojibwe</key>
		<string>waasa</string>
		<key>type</key>
		<string>other</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>way over there</string>
		<key>ojibwe</key>
		<string>awidi</string>
		<key>type</key>
		<string>other</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>there</string>
		<key>ojibwe</key>
		<string>imaa</string>
		<key>type</key>
		<string>other</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>here</string>
		<key>ojibwe</key>
		<string>omaa</string>
		<key>type</key>
		<string>other</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>why</string>
		<key>ojibwe</key>
		<string>aaniin dash</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>when</string>
		<key>ojibwe</key>
		<string>aaniin apii</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>where</string>
		<key>ojibwe</key>
		<string>aaniindi</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>what</string>
		<key>ojibwe</key>
		<string>awegonen</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>who</string>
		<key>ojibwe</key>
		<string>awenen</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>those</string>
		<key>ojibwe</key>
		<string>iniw</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>these</string>
		<key>ojibwe</key>
		<string>ono</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>that</string>
		<key>ojibwe</key>
		<string>i&apos;iw</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>this</string>
		<key>ojibwe</key>
		<string>o&apos;o</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>inani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>these</string>
		<key>ojibwe</key>
		<string>ogo</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>those</string>
		<key>ojibwe</key>
		<string>agiw</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>that</string>
		<key>ojibwe</key>
		<string>a&apos;aw</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>this</string>
		<key>ojibwe</key>
		<string>wa&apos;aw</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>hello</string>
		<key>ojibwe</key>
		<string>boozhoo</string>
		<key>type</key>
		<string>other</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>no</string>
		<key>ojibwe</key>
		<string>gaawiin</string>
		<key>type</key>
		<string>other</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>yes</string>
		<key>ojibwe</key>
		<string>eya</string>
		<key>type</key>
		<string>other</string>
		<key>subtype</key>
		<string></string>
	</dict>
	<dict>
		<key>english</key>
		<string>s/he</string>
		<key>ojibwe</key>
		<string>wiin</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>you</string>
		<key>ojibwe</key>
		<string>giin</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>I</string>
		<key>ojibwe</key>
		<string>niin</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>bald eagle</string>
		<key>ojibwe</key>
		<string>migizi</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string>it is black</string>
		<key>ojibwe</key>
		<string>makade</string>
		<key>type</key>
		<string>verb</string>
		<key>subtype</key>
		<string>ii</string>
	</dict>
	<dict>
		<key>english</key>
		<string>bear</string>
		<key>ojibwe</key>
		<string>makwa</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
	<dict>
		<key>english</key>
		<string></string>
		<key>ojibwe</key>
		<string></string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
</array>
</plist>
