<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>english </key>
		<string>bear</string>
		<key>ojibwe</key>
		<string>makwa</string>
		<key>type</key>
		<string>noun</string>
		<key>subtype</key>
		<string>ani</string>
	</dict>
</array>
</plist>
